{{#each this}}
  <li class='card'>
    <img
      class='card_img'
      src='https://image.tmdb.org/t/p/w500{{poster_path}}'
      alt='{{title}}'
      width='320'
    />
    <h2>
      {{title}}{{name}}
    </h2>
    <p>
      {{genre_ids}}|
    </p>
    <div>
      {{release_date}}{{first_air_date}}
    </div>
  </li>
{{/each}}