<li class='gallery__list-item' data-aos='zoom-in'>
  <a class='gallery__list-link' href='' data-id={{this.id}}>
    <img
      class='card_img'
      src='https://image.tmdb.org/t/p/w500{{this.posterPath}}'
      alt='{{this.title}}'
    />
  </a>
  <div class='gallery-title-block'>
    <h2 class='gallery-title-block__title'>
      {{this.title}}
    </h2>
    <div class='gallery-title-block__info'>
      <p>{{this.genres}}</p>
      &nbsp;|
      <div>
        &nbsp;{{this.relDate}}
      </div>
    </div>
  </div>
</li>