{{#each this}}
  <li class='gallery__list-item' data-aos='zoom-in'>
    <a class='gallery__list-link' href='' data-id={{id}}>
      <img class='card_img' src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}" />
    </a>
    <div class='gallery-title-block'>
      <h2 class='gallery-title-block__title'>
        {{title}}
      </h2>
      <div class='gallery-title-block__info'>
        <p>
          {{genre_ids}}
          |
        </p>
        <div>
          &nbsp;{{release_date}}
        </div>
      </div>
    </div>
  </li>
{{/each}}